In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("cleaned_wetchem.csv")

In [5]:
df = df.loc[df['aluminium'].notnull()]

In [6]:
df.describe()

,Unnamed: 0,organic_carbon,total_nitrogen,aluminium,boron,calcium,copper,ec_salts,exchangeable_acidity,iron,...,potassium,sodium,sulphur,zinc,cec,clay,sand,silt,phosphorus_olsen,reactive_carbon
count,11958.000000,4173.000000,4058.000000,11958.000000,9716.000000,11352.000000,11096.000000,10992.000000,6271.000000,11351.000000,...,11284.000000,11274.000000,11526.000000,11586.000000,10893.000000,4765.000000,4763.000000,4765.000000,295.000000,0.0
mean,47196.377404,1.239172,0.087356,741.253877,0.942244,1771.835688,2.598902,117.490683,0.274247,122.311594,...,211.000583,67.568673,18.898544,4.907326,15.640073,22.874610,58.695783,18.443030,16.352542,NaN
std,32057.851028,0.866401,0.054295,561.452918,4.366665,2286.822822,7.505073,491.013046,0.517192,98.205822,...,285.476265,635.133664,144.938724,32.330681,16.311949,19.798265,23.900710,11.322443,21.584603,NaN
min,267.000000,0.074130,0.007425,-0.010000,0.010000,0.030000,0.010000,0.032000,0.046000,0.010000,...,0.130000,-0.040000,0.039000,0.010000,0.390000,0.129948,1.200000,0.000000,0.130000,NaN
25%,14687.250000,0.615240,0.049798,372.000000,0.097000,400.000000,0.710000,36.000000,0.100000,65.500000,...,50.975000,9.562500,5.080000,0.730000,4.537076,8.454227,42.878571,9.710971,2.390000,NaN
50%,48114.500000,0.990600,0.071543,657.000000,0.240000,887.000000,1.470000,63.700000,0.150000,100.000000,...,107.000000,20.600000,8.570000,1.510000,8.999640,15.900000,62.681196,16.100000,6.050000,NaN
75%,66567.750000,1.602690,0.110123,1020.000000,0.520000,2290.000000,3.040000,119.000000,0.250000,153.000000,...,247.000000,42.200000,14.100000,3.510000,21.707259,31.300000,78.303915,25.500000,27.100000,NaN
max,113134.000000,4.892400,0.300069,6500.000000,152.100000,27600.000000,432.000000,27500.000000,6.490000,4251.000000,...,3540.000000,46000.000000,8240.000000,3011.000000,195.441058,99.600000,99.300000,65.306531,106.000000,NaN