In [1]:
import sys
sys.path.append("/anaconda/envs/azureml_py38/lib/python3.8/site-packages")

In [2]:
import psycopg2
import pandas as pd
import numpy as np

In [4]:
def get_db_cursor():
    username = "doadmin"
    password = 'yzmodwh2oh16iks6'
    host = 'db-postgresql-cl1-do-user-2276924-0.db.ondigitalocean.com'
    port = 25060
    database = 'MandatoryMetadata'
    schema = 'historical'

    conn = psycopg2.connect(host=host, database=database,
                            user=username, password=password, port=port)
    cur = conn.cursor()
    cur.execute("SET search_path TO " + schema)

    return conn, cur

In [5]:
conn, cur = get_db_cursor()

In [5]:
v1_samples = pd.read_csv('./outputFiles/spectra.csv',usecols=[0])

In [6]:
v1_samples

             Unnamed: 0
0      AGD207-408SA0706
1      AGD207-431SA0001
2      AGD207-431SA0002
3      AGD207-431SA0003
4      AGD207-431SA0004
...                 ...
87362       CW017SA7164
87363       CW017SA7167
87364       CW017SA7168
87365       CW104SA0052
87366       CW104SA0053

[87367 rows x 1 columns]

In [12]:
v2_samples = pd.read_sql('select DISTINCT sample_code from MandatoryMetadata', con = conn)

/tmp/ipykernel_4684/3980953645.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  v2_samples = pd.read_sql('select DISTINCT sample_code from MandatoryMetadata', con = conn)

In [13]:
v2_samples

        sample_code
0       CJ366SA0002
1       CC176SA2464
2       CE006SA2172
3       CE006SA1261
4       CC245SA0004
...             ...
128766  CW133SA0089
128767  CC068SA0581
128768  CS095SA0106
128769  CS667SA0014
128770  CF177SA5532

[128771 rows x 1 columns]

In [14]:
v2_samples = v2_samples.loc[~v2_samples['sample_code'].isin(v1_samples['Unnamed: 0'])]

In [15]:
v2_samples

        sample_code
0       CJ366SA0002
2       CE006SA2172
7       CK486SA0005
8       CA236SA0323
11      CF177SA3204
...             ...
128765  CZ030SA0042
128766  CW133SA0089
128768  CS095SA0106
128769  CS667SA0014
128770  CF177SA5532

[57352 rows x 1 columns]

In [16]:
sample_codes = v2_samples['sample_code'].values

In [17]:
if(len(sample_codes) < 5000):
    count  = len(sample_codes)
    step=count
elif(len(sample_codes) < 70000):
    count = len(sample_codes)
    step=5000
else:
    count = 70000
    step=5000
start = 0

In [18]:
count

57352

In [19]:
start

0

In [20]:
step

5000

In [21]:
spectra = pd.DataFrame()

In [22]:
def convertSpectra(df):
    print("Converting spectra")
    df_ = pd.DataFrame([i[[i for i in i.keys()][0]] for i in df['averaged_spectra'].values],columns = np.arange(522,3977,2))
    df_.index = df.index
    print("Spectra converted")
    return df_

In [23]:
for i in np.arange(start, count, step):
        
    print("Fetching spectra from {}".format(start))
    samples = [i for i in sample_codes][start:start+step]
    print(len(samples))
    query = f"SELECT DISTINCT mandatorymetadata.sample_code, spectraldata.metadata_id, spectraldata.averaged_spectra FROM spectraldata INNER JOIN mandatorymetadata ON mandatorymetadata.metadata_id = spectraldata.metadata_id WHERE is_finalized=True AND passed=True AND is_active=True AND averaged=True AND sample_code IN {str(samples).replace('[','(').replace(']',')')}"

    _ = pd.read_sql(query, con=conn)
    print("This is the spectra",_)
    spectra = pd.concat([spectra, _], axis=0)
    start = start + step
    if (count-step) > 5000:
        step=5000
    else:
        step = count-step

Fetching spectra from 0
5000
This is the spectra            sample_code  metadata_id  \
0      AGD103-40SA0001         9304
1     AGD207-408SA0010         8409
2     AGD207-408SA0050         9826
3     AGD207-408SA0128         8414
4     AGD207-408SA0169         9825
...                ...          ...
4278   I48-1-103SA0001         8559
4279            ISRAEL         4850
4280       TMA-FL-0534         8667
4281       TMA-FL-0535        10549
4282       TMA-FL-0599        10569

                                       averaged_spectra
0     {'522': [2.2946243572164216, 2.252323720423919...
1     {'522': [2.0243299051640333, 2.046907200185822...
2     {'522': [2.0714313250843235, 1.973399886588285...
3     {'522': [2.335163074422063, 2.3173864933474606...
4     {'522': [2.2009018853383973, 2.196002606635404...
...                                                 ...
4278  {'522': [1.8737280792526008, 1.844528032381382...
4279  {'522': [2.603601855795933, 2.520978132490139,...
4280  {'522': [2.2692667429509443, 2.280050208174614...
4281  {'522': [2.318113242935465, 2.3069670787323355...
4282  {'522': [2.2516844451137668, 2.257817763021732...

[4283 rows x 3 columns]
Fetching spectra from 5000
5000
This is the spectra            sample_code  metadata_id  \
0      AGD103-39SA0001        10702
1     AGD207-408SA0006         8507
2     AGD207-408SA0129         8475
3     AGD207-408SA0145         8522
4     AGD207-408SA0156         8465
...                ...          ...
4251     I38-1-3SA0011         8674
4252     I38-1-6SA0002        10532
4253     I38-1-6SA0023        10454
4254            ISTINA         5086
4255            ISTOPH       166534

                                       averaged_spectra
0     {'522': [2.5440906453021714, 2.481699772062201...
1     {'522': [2.1272897522387435, 2.115135479394395...
2     {'522': [2.1288153441842343, 2.104682726603996...
3     {'522': [2.23039298533927, 2.2381285681319074,...
4     {'522': [2.210406185152989, 2.210182354711077,...
...                                                 ...
4251  {'522': [2.105569775083051, 2.109567149825021,...
4252  {'522': [1.977555311187571, 1.9748285554090477...
4253  {'522': [2.0972947975083276, 2.118671827821875...
4254  {'522': [2.035461336272692, 2.064505417389459,...
4255  {'522': [2.2867036171002386, 2.264804316369757...

[4256 rows x 3 columns]
Fetching spectra from 10000
5000
This is the spectra            sample_code  metadata_id  \
0       130-1-15SA0009       108652
1       148-1-71SA0001       109921
2     AGD102-128SA0001       115078
3      AGD103-25SA0002       113131
4      AGD103-36SA0001       114886
...                ...          ...
3939    I48-1-45SA0001       112291
3940    I48-1-49SA0003       112183
3941    I48-1-68SA0001       109692
3942    I48-1-90SA0001       111931
3943            ISHAMB         5496

                                       averaged_spectra
0     {'522': [2.0159860330871733, 2.071509108928615...
1     {'522': [1.8712886061864586, 1.915937591875266...
2     {'522': [2.3838735978909202, 2.317035427643710...
3     {'522': [1.9834236325580634, 2.014605429156182...
4     {'522': [2.2590371184237403, 2.267357117364459...
...                                                 ...
3939  {'522': [2.1408186005309906, 2.083802724124154...
3940  {'522': [2.0403348466549383, 2.037871589161065...
3941  {'522': [2.249492013203395, 2.2646473859362355...
3942  {'522': [2.1954804911796812, 2.134730238322256...
3943  {'522': [2.1806548947716213, 2.191522190955407...

[3944 rows x 3 columns]
Fetching spectra from 15000
5000
This is the spectra          sample_code  metadata_id  \
0     130-1-15SA0002       110013
1     130-1-15SA0003       108777
2     130-1-15SA0004       108779
3     130-1-15SA0007       109820
4     130-1-15SA0008       109805
...              ...          ...
4304  I38-1-30SA0011       110666
4305  I38-1-37SA0007       108190
4306  I38-1-38SA0006       109671
4307  I48-1-16SA0001       110501
4308   I48-1-9SA0001       111227

                                       averaged_spectra
0     {'522': [1.9605227234359908, 1.950022223033587...
1     {'522': [2.094357858357382, 2.1154573001788837...
2     {'522': [1.7454090564768237, 1.737983585221649...
3     {'522': [2.0814463948652104, 2.060643568552026...
4     {'522': [2.0918091230341576, 2.042453945459339...
...                                                 ...
4304  {'522': [2.1534035077957876, 2.174748040373512...
4305  {'522': [2.1397004931389882, 2.073030456847362...
4306  {'522': [2.3639268330107703, 2.317320248711822...
4307  {'522': [2.2501281891192377, 2.275746697227696...
4308  {'522': [2.230062136694259, 2.209982257444773,...

[4309 rows x 3 columns]
Fetching spectra from 20000
5000
This is the spectra            sample_code  metadata_id  \
0       130-1-15SA0005       108680
1       130-1-15SA0010       109663
2     ADG207-431SA0003       114556
3         AGD103SA0014       184143
4         AGD103SA0018       184147
...                ...          ...
4459    I48-1-13SA0001       107265
4460    I48-1-21SA0001       107295
4461    I48-1-44SA0001       109748
4462    I48-1-80SA0001       111437
4463    I48-1-87SA0001       107533

                                       averaged_spectra
0     {'522': [1.9445081911567121, 1.926383361870557...
1     {'522': [1.9531338764291224, 1.959013680661211...
2     {'522': [2.435020631400369, 2.4480185918597566...
3     {'522': [2.277410725522758, 2.281055664382109,...
4     {'522': [2.224986254174205, 2.2644164441202834...
...                                                 ...
4459  {'522': [2.285553204945143, 2.4567690982881834...
4460  {'522': [2.320396674685908, 2.343271303518751,...
4461  {'522': [2.089795929061988, 2.092380111621915,...
4462  {'522': [2.0205342526047394, 2.004195380598810...
4463  {'522': [1.9498424474066915, 2.016413508766867...

[4464 rows x 3 columns]
Fetching spectra from 25000
5000
This is the spectra            sample_code  metadata_id  \
0     ADG207-431SA0002       114599
1      AGD103-32SA0001       113428
2     AGD207-408SA0015       114311
3     AGD207-408SA0037       114480
4     AGD207-408SA0043       114469
...                ...          ...
3926    I48-1-69SA0002       107976
3927    I48-1-78SA0001       107628
3928     I48-1-7SA0001       111085
3929    I48-1-81SA0001       108365
3930     I48-1-8SA0001       111310

                                       averaged_spectra
0     {'522': [2.3206313405601335, 2.317589592779498...
1     {'522': [1.9710277784611678, 1.931948790681144...
2     {'522': [2.187817661166289, 2.160829063157303,...
3     {'522': [2.0679011446281814, 2.083286998309623...
4     {'522': [2.085671452253317, 2.0427240821518984...
...                                                 ...
3926  {'522': [2.0734751374539853, 2.077575419198639...
3927  {'522': [2.000769534373982, 2.0253291291975746...
3928  {'522': [2.517160630777368, 2.5524542547742435...
3929  {'522': [2.1129499386566333, 2.159967507037731...
3930  {'522': [2.4151993406223173, 2.370453277223388...

[3931 rows x 3 columns]
Fetching spectra from 30000
5000
This is the spectra            sample_code  metadata_id  \
0      AGD103-43SA0001       161689
1     AGD207-408SA0104       114297
2     AGD207-408SA0121       114574
3     AGD207-408SA0665       115118
4     AGD207-408SA0815       161850
...                ...          ...
4787    I38-1-38SA0005       112271
4788    I38-1-48SA0004       165243
4789    I38-1-49SA0005       165196
4790    I38-1-50SA0003       165260
4791    I38-1-50SA0004       165263

                                       averaged_spectra
0     {'522': [2.2353750092350393, 2.258582754462725...
1     {'522': [1.9044913788965037, 2.040721265587296...
2     {'522': [2.141683707320299, 2.124354621473251,...
3     {'522': [2.2908490658788505, 2.3225053487583, ...
4     {'522': [2.295932986665003, 2.3353401065266466...
...                                                 ...
4787  {'522': [2.2193530299902395, 2.190406339027317...
4788  {'522': [1.8672335557501625, 1.876067344926862...
4789  {'522': [2.0777539385477826, 2.120085324867986...
4790  {'522': [2.2814671068207515, 2.254938330643274...
4791  {'522': [2.035648714342317, 2.0649804087681787...

[4792 rows x 3 columns]
Fetching spectra from 35000
5000
This is the spectra           sample_code  metadata_id  \
0      130-1-15SA0001       109560
1      130-1-15SA0006       109828
2      148-1-76SA0001       109811
3     AGD103-10SA0001       115353
4      AGD103-8SA0001       110015
...               ...          ...
3709   I48-1-70SA0002       107175
3710   I48-1-82SA0001       107369
3711   I48-1-84SA0001       112231
3712   I48-1-90SA0002       109674
3713     I48-86SA0001       124813

                                       averaged_spectra
0     {'522': [2.0043163756549203, 1.940420859280157...
1     {'522': [2.0567954671721975, 2.099764956289401...
2     {'522': [1.9966975999366898, 2.064216205523023...
3     {'522': [2.2232513485459084, 2.239347348644982...
4     {'522': [2.277487092649611, 2.3449365775824047...
...                                                 ...
3709  {'522': [2.1839300629685807, 2.150476470735784...
3710  {'522': [1.8715018255014724, 1.875967424457056...
3711  {'522': [2.413219444133816, 2.3152392849369337...
3712  {'522': [1.9945933748910019, 1.937816309475036...
3713  {'522': [1.8914073504865034, 1.917528008119815...

[3714 rows x 3 columns]
Fetching spectra from 40000
5000
This is the spectra            sample_code  metadata_id  \
0      AGD103-43SA0002       161650
1         AGD103SA0020       185464
2     AGD207-408SA0154       114473
3     AGD207-408SA0163       114352
4     AGD207-408SA0335       114485
...                ...          ...
4750    I38-1-48SA0005       165190
4751    I38-1-49SA0001       165247
4752    I38-1-50SA0001       165264
4753     I38-1-8SA0003       111016
4754    I48-1-54SA0001       110651

                                       averaged_spectra
0     {'522': [2.316721540377884, 2.345656246579467,...
1     {'522': [2.3177869656163486, 2.390678332143918...
2     {'522': [2.273405909715656, 2.252411548969664,...
3     {'522': [2.3727534515810547, 2.336567969190982...
4     {'522': [2.2371475951968485, 2.192771565205329...
...                                                 ...
4750  {'522': [2.0918350304203432, 2.111560807273318...
4751  {'522': [2.077183212219558, 2.0822608995779657...
4752  {'522': [2.2006287180410427, 2.223379176146082...
4753  {'522': [1.9369753276684494, 1.949463472727438...
4754  {'522': [1.8305585878739545, 1.793634684541327...

[4755 rows x 3 columns]
Fetching spectra from 45000
5000
This is the spectra            sample_code  metadata_id  \
0     AGD207-408SA0016       114393
1     AGD207-408SA0024       115043
2     AGD207-408SA0085       114795
3     AGD207-408SA0111       114372
4     AGD207-408SA0114       114414
...                ...          ...
3956    I48-1-23SA0001       108383
3957    I48-1-53SA0001       106989
3958    I48-1-79SA0001       110485
3959            ISCILL        84303
3960            ISHARA       164779

                                       averaged_spectra
0     {'522': [2.0368917979651195, 2.094349949731681...
1     {'522': [2.08974011550362, 2.1491784329893475,...
2     {'522': [2.163154597641718, 2.310798410886928,...
3     {'522': [2.0999999519252386, 2.104486566356741...
4     {'522': [2.0725860668687073, 2.053686128113528...
...                                                 ...
3956  {'522': [2.35110452175738, 2.3494204515933177,...
3957  {'522': [2.115370874902943, 2.1118775336138733...
3958  {'522': [1.9670609715044285, 1.956426884252974...
3959  {'522': [2.404879412957543, 2.4279431948583974...
3960  {'522': [2.251592277480518, 2.2788494668611063...

[3961 rows x 3 columns]
Fetching spectra from 50000
5000
This is the spectra            sample_code  metadata_id  \
0       AGD103-1SA0002       109905
1         AGD103SA0012       180046
2     AGD207-408SA0115       114863
3     AGD207-408SA0123       114536
4     AGD207-408SA0212       114939
...                ...          ...
4483     I38-1-8SA0006       111306
4484    I48-1-14SA0001       113031
4485    I48-1-15SA0001       107861
4486    I48-1-28SA0001       112102
4487    I48-1-47SA0001       111655

                                       averaged_spectra
0     {'522': [2.308423140156947, 2.2291651413868783...
1     {'522': [2.3755077909048614, 2.346641733455970...
2     {'522': [2.2947709992478305, 2.273350704619020...
3     {'522': [2.0722432234165002, 2.088064465631243...
4     {'522': [2.1723376630485003, 2.144401611746735...
...                                                 ...
4483  {'522': [2.044689253740585, 2.0440751002309536...
4484  {'522': [2.228221915415883, 2.232456245556558,...
4485  {'522': [2.0853149865186826, 2.093836289273227...
4486  {'522': [2.2968853617413405, 2.210350129356098...
4487  {'522': [2.294321936723329, 2.2863338563305957...

[4488 rows x 3 columns]
Fetching spectra from 55000
2352
This is the spectra            sample_code  metadata_id  \
0     AGD207-408SA0822       161825
1     AGD207-408SA0823       161706
2     AGD207-408SA0829       161762
3     AGD207-408SA0833       161743
4     AGD207-408SA0856       161719
...                ...          ...
2311       FA944SA0035       184492
2312       FA944SA0036       185413
2313       FA944SA0037       185625
2314    I38-1-49SA0004       165229
2315    I38-1-50SA0005       165258

                                       averaged_spectra
0     {'522': [2.351679035222962, 2.330320941362209,...
1     {'522': [2.2872478487346912, 2.288392287906657...
2     {'522': [2.3712711853299977, 2.376444551494094...
3     {'522': [2.4398038823571637, 2.510355729194913...
4     {'522': [2.562893941332975, 2.6549745857666687...
...                                                 ...
2311  {'521': [2.1125988640333064, 2.088368328835957...
2312  {'522': [2.115691856876853, 2.129939840100456,...
2313  {'522': [2.2924538743969833, 2.322450055759365...
2314  {'522': [1.986424801668812, 1.9745479965988344...
2315  {'522': [1.9876529213466958, 2.031201797248737...

[2316 rows x 3 columns]

/tmp/ipykernel_4684/1185931234.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4684/1185931234.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4684/1185931234.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4684/1185931234.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4684/1185931234.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4684/1185931234.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4684/1185931234.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4684/1185931234.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4684/1185931234.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4684/1185931234.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4684/1185931234.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4684/1185931234.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)

In [24]:
spectra = spectra.set_index("sample_code")

In [25]:
conn.close()

In [52]:
spectra = spectra.set_index('sample_code')

In [26]:
spectra = convertSpectra(spectra)


spectra.to_csv("./outputFiles/spectraldata.csv")

Converting spectra
Spectra converted

In [21]:
spectra

,522,524,526,528,530,532,534,536,538,540,...,3958,3960,3962,3964,3966,3968,3970,3972,3974,3976
0,2.364527,2.380267,2.415282,2.431268,2.441101,2.462991,2.473978,2.428879,2.422211,2.447353,...,1.170164,1.170703,1.170675,1.170313,1.170076,1.169900,1.169492,1.168838,1.168238,1.167781
1,2.324680,2.324753,2.373763,2.411027,2.402217,2.347667,2.317289,2.338107,2.375101,2.368011,...,1.149651,1.149604,1.149459,1.148917,1.148238,1.147781,1.147594,1.147623,1.147640,1.147664
2,2.397271,2.428240,2.399225,2.358932,2.332269,2.308703,2.294938,2.292284,2.298963,2.309691,...,1.160591,1.160070,1.159524,1.159550,1.159486,1.158533,1.157588,1.157537,1.157760,1.157822
3,2.394315,2.391048,2.357433,2.361828,2.380389,2.410625,2.426476,2.401460,2.370650,2.361235,...,1.152852,1.152934,1.152444,1.151799,1.151322,1.150696,1.150411,1.150530,1.150366,1.150150
4,2.381931,2.383940,2.376204,2.340311,2.348089,2.348603,2.345284,2.341323,2.328165,2.294485,...,1.159744,1.158565,1.157161,1.156499,1.156687,1.156656,1.155951,1.155213,1.154969,1.155184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5709,2.431712,2.491956,2.525230,2.497294,2.461680,2.457347,2.479673,2.508331,2.492839,2.441814,...,1.129957,1.129489,1.128628,1.128164,1.128154,1.128244,1.128160,1.127920,1.127710,1.127501
5710,2.383299,2.418019,2.405626,2.382745,2.379580,2.403409,2.391373,2.320085,2.273765,2.275257,...,1.149114,1.149265,1.149298,1.148614,1.147901,1.148023,1.148273,1.148000,1.147757,1.147768
5711,2.388890,2.350033,2.309996,2.327226,2.352492,2.330514,2.316581,2.350303,2.387681,2.412264,...,1.171154,1.170969,1.170589,1.170483,1.170664,1.170294,1.169510,1.169155,1.169263,1.169555
5712,2.477091,2.414741,2.403005,2.449703,2.481381,2.444921,2.382814,2.372414,2.406186,2.411119,...,1.161688,1.161186,1.160171,1.159406,1.159063,1.158751,1.158270,1.157872,1.157729,1.157586
5713,2.249739,2.277050,2.323580,2.344774,2.365736,2.380376,2.383867,2.385747,2.372978,2.342873,...,1.167203,1.167368,1.167123,1.166785,1.166569,1.166275,1.166020,1.165878,1.165542,1.164923

In [22]:
import pandas as pd
spectra= pd.read_csv("outputFiles/spectraldata.csv",usecols=[0])
len(spectra)

123300

In [27]:
spectra

,522,524,526,528,530,532,534,536,538,540,...,3958,3960,3962,3964,3966,3968,3970,3972,3974,3976
sample_code,,,,,,,,,,,,,,,,,,,,,
AGD103-40SA0001,2.294624,2.252324,2.252763,2.264666,2.255082,2.239374,2.223874,2.219874,2.212979,2.177654,...,1.422320,1.420521,1.420258,1.421809,1.422426,1.420608,1.418333,1.417951,1.418956,1.419416
AGD207-408SA0010,2.024330,2.046907,2.043177,2.033848,2.034393,2.073468,2.145949,2.173295,2.110662,2.067651,...,1.432352,1.431705,1.432530,1.431856,1.428591,1.427078,1.427711,1.426269,1.422301,1.421177
AGD207-408SA0050,2.071431,1.973400,1.905598,1.892876,1.889285,1.885217,1.911854,1.932437,1.902481,1.876775,...,1.372569,1.372696,1.375012,1.375759,1.376213,1.379223,1.379211,1.373168,1.366714,1.362238
AGD207-408SA0128,2.335163,2.317386,2.324318,2.322120,2.296425,2.284984,2.278755,2.277955,2.282519,2.271201,...,1.332006,1.330292,1.329286,1.329465,1.329426,1.327830,1.325649,1.324013,1.323073,1.323118
AGD207-408SA0169,2.200902,2.196003,2.226497,2.232089,2.222513,2.216196,2.197458,2.171872,2.161863,2.167995,...,1.370889,1.370175,1.370109,1.370543,1.370074,1.368265,1.366876,1.366383,1.365442,1.364319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FA944SA0035,2.112599,2.088368,2.095636,2.091958,2.078875,2.041343,1.988712,1.969161,1.989761,1.993117,...,1.258947,1.258221,1.257999,1.257660,1.256922,1.256442,1.256209,1.255749,1.255180,1.254776
FA944SA0036,2.115692,2.129940,2.103012,2.075006,2.072764,2.080007,2.075533,2.053104,2.030145,2.018534,...,1.281532,1.281899,1.282251,1.281950,1.281488,1.280942,1.279549,1.277748,1.276897,1.277108
FA944SA0037,2.292454,2.322450,2.332670,2.325429,2.323228,2.320085,2.332086,2.352944,2.333360,2.300843,...,1.345511,1.346190,1.346026,1.344989,1.344079,1.343586,1.342809,1.341466,1.340403,1.339693
I38-1-49SA0004,1.986425,1.974548,1.980594,2.000128,2.014336,2.011812,2.000064,1.988624,1.978751,1.969191,...,1.107371,1.106863,1.106627,1.106661,1.106463,1.106153,1.106016,1.105860,1.105479,1.104887
I38-1-50SA0005,1.987653,2.031202,2.076689,2.057315,2.016256,2.005282,2.002255,1.989259,1.984263,1.993902,...,1.218119,1.217278,1.216821,1.216852,1.216645,1.216010,1.215393,1.214828,1.213989,1.213300

In [27]:
start = 0 
stop = 5000
for n in np.arange(start, (19000), 5000):
    print(n)

0
5000
10000
15000

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('outputFiles/PCC_Classes/aluminium.csv')

In [6]:
preds = pd.read_csv("outputFiles/predictions/DLv2.2/aluminium_preds.csv")

In [7]:
preds

       sample_code          0
0        ML-SS21-1  845.05840
1        ML-SS21-1  930.48130
2        ML-SS21-1  845.21277
3        ML-SS21-1  888.77905
4        ML-SS21-1  907.39136
...            ...        ...
123302   ML-SS21-3  846.77010
123303   ML-SS21-3  893.17316
123304   ML-SS21-3  921.44040
123305   ML-SS21-3  873.87006
123306   ML-SS21-3  907.70240

[123307 rows x 2 columns]

In [8]:
df

,Unnamed: 0,sample_code,aluminium,0,Difference,Actual_PCC,Predicted_PCC,PCC_Class
0,1489,CC176SA5654,1040.0,884.54590,-155.45410,4.0,NaN,NaN
1,1497,CC176SA5627,1120.0,980.52155,-139.47845,4.0,NaN,NaN
2,1523,CC176SA5628,925.0,560.16120,-364.83880,3.0,NaN,NaN
3,1536,CC176SA5652,859.0,871.38885,12.38885,3.0,3.0,0.0
4,1562,CC176SA5641,711.0,763.31380,52.31380,3.0,3.0,0.0
...,...,...,...,...,...,...,...,...
7233,93208,CK002SA1803,1100.0,1066.29250,-33.70750,4.0,4.0,0.0
7234,93220,CK002SA1806,1030.0,1117.54700,87.54700,4.0,4.0,0.0
7235,93393,CK002SA1801,1000.0,1007.66600,7.66600,3.0,3.0,0.0
7236,94931,CJ030SA5678,995.0,1105.27750,110.27750,3.0,4.0,1.0
7237,94941,CJ030SA5679,1140.0,997.91000,-142.09000,4.0,NaN,NaN

In [10]:
comb = pd.merge(df, preds, on='sample_code', how='inner')

In [11]:
comb.loc[comb['PCC_Class'] <= 1]

,Unnamed: 0,sample_code,aluminium,0_x,Difference,Actual_PCC,Predicted_PCC,PCC_Class,0_y
3,1536,CC176SA5652,859.0,871.38885,12.38885,3.0,3.0,0.0,871.38885
4,1562,CC176SA5641,711.0,763.31380,52.31380,3.0,3.0,0.0,763.31380
5,1583,CC176SA5645,520.0,640.46515,120.46515,2.0,2.0,0.0,640.46515
6,1618,CC176SA5647,945.0,863.47784,-81.52216,3.0,3.0,0.0,863.47784
8,1652,CC176SA5650,517.0,572.62830,55.62830,2.0,2.0,0.0,572.62830
...,...,...,...,...,...,...,...,...,...
53456,93206,CK002SA1805,835.0,1046.02430,211.02430,3.0,4.0,1.0,1046.02430
53457,93208,CK002SA1803,1100.0,1066.29250,-33.70750,4.0,4.0,0.0,1066.29250
53458,93220,CK002SA1806,1030.0,1117.54700,87.54700,4.0,4.0,0.0,1117.54700
53459,93393,CK002SA1801,1000.0,1007.66600,7.66600,3.0,3.0,0.0,1007.66600
53460,94931,CJ030SA5678,995.0,1105.27750,110.27750,3.0,4.0,1.0,1105.27750

In [18]:
spectra = pd.read_csv('outputFiles/spectraldata.csv', index_col=0, engine='c')

In [20]:
spectra.loc[spectra.index.isin(comb.loc[comb['PCC_Class'] <= 1]['sample_code'])]

,522,524,526,528,530,532,534,536,538,540,...,3958,3960,3962,3964,3966,3968,3970,3972,3974,3976
sample_code,,,,,,,,,,,,,,,,,,,,,
CC176SA5652,2.154246,2.092609,2.077228,2.101096,2.120622,2.123532,2.127089,2.126469,2.119017,2.109390,...,1.255574,1.254978,1.253972,1.253552,1.253228,1.252433,1.251589,1.250707,1.249439,1.248191
CC176SA5641,2.239911,2.182096,2.130445,2.081945,2.047989,2.055831,2.099324,2.130741,2.105824,2.057918,...,1.132173,1.131954,1.131708,1.131565,1.131205,1.130505,1.129671,1.128951,1.128448,1.128007
CC176SA5645,2.093391,2.111062,2.063969,2.010349,2.003698,2.011247,1.988045,1.952734,1.942120,1.955275,...,1.161763,1.161122,1.160494,1.160462,1.160539,1.159970,1.159012,1.158122,1.157647,1.157516
CC176SA5647,2.042394,2.090577,2.111565,2.067445,2.036329,2.053858,2.076758,2.071446,2.061716,2.063592,...,1.130418,1.129733,1.128900,1.128374,1.128039,1.127651,1.127224,1.126863,1.126352,1.125385
CC176SA5650,2.270940,2.229641,2.189799,2.145278,2.138737,2.172354,2.205997,2.246785,2.261879,2.219524,...,1.179193,1.178446,1.177620,1.176593,1.175882,1.175641,1.175558,1.175543,1.175335,1.174862
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CK002SA1805,2.275789,2.255795,2.238824,2.242241,2.230048,2.199329,2.175204,2.179353,2.180641,2.145780,...,1.286755,1.285515,1.284647,1.284983,1.286087,1.286118,1.284773,1.283282,1.282345,1.281821
CK002SA1803,2.521574,2.443199,2.414373,2.409841,2.420043,2.455131,2.472920,2.451894,2.434731,2.430271,...,1.325941,1.324451,1.324035,1.324074,1.323478,1.322610,1.322125,1.321414,1.320255,1.318866
CK002SA1806,2.634936,2.540841,2.504133,2.537708,2.569144,2.512635,2.449713,2.435081,2.456787,2.475545,...,1.315967,1.315506,1.315423,1.314387,1.312685,1.312006,1.311860,1.311262,1.310908,1.310861
CK002SA1801,2.256602,2.209911,2.207849,2.255901,2.282473,2.260994,2.237024,2.230615,2.243233,2.251016,...,1.287316,1.285974,1.284600,1.284458,1.284501,1.283343,1.282012,1.281556,1.281128,1.280232
CJ030SA5678,2.286045,2.313707,2.327145,2.313697,2.288203,2.267247,2.241009,2.228010,2.225498,2.219569,...,1.332581,1.332294,1.331651,1.331203,1.330385,1.328845,1.327626,1.326900,1.326593,1.326633

In [16]:
spectra.loc[spectra.index.isin(preds['sample_code'])]

Empty DataFrame
Columns: [522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, ...]
Index: []

[0 rows x 1728 columns]

In [17]:
spectra

,522,524,526,528,530,532,534,536,538,540,...,3958,3960,3962,3964,3966,3968,3970,3972,3974,3976
AGD207-408SA0706,2.096135,2.074343,2.077232,2.100555,2.109029,2.113436,2.103539,2.076615,2.058088,2.052834,...,1.397774,1.396845,1.396773,1.396401,1.395748,1.395857,1.395875,1.394762,1.394079,1.393831
AGD207-431SA0001,2.154667,2.128691,2.090363,2.061056,2.036317,2.019021,2.018069,2.030793,2.041479,2.035714,...,1.319761,1.319318,1.319803,1.319366,1.317630,1.316362,1.315863,1.315292,1.314809,1.314864
AGD207-431SA0002,2.412217,2.413204,2.360303,2.307860,2.296765,2.316080,2.321781,2.294391,2.270676,2.284707,...,1.306064,1.306364,1.306144,1.305445,1.305173,1.305272,1.304674,1.303443,1.302389,1.301506
AGD207-431SA0003,2.059137,2.093001,2.136247,2.157497,2.152817,2.144714,2.131581,2.108572,2.105603,2.127556,...,1.306060,1.305862,1.305825,1.305172,1.304238,1.303409,1.302201,1.300902,1.300176,1.300167
AGD207-431SA0004,2.279650,2.237250,2.218038,2.231755,2.238702,2.222442,2.208411,2.211492,2.218197,2.235896,...,1.184210,1.183787,1.183616,1.183282,1.182663,1.182083,1.181676,1.181184,1.180578,1.180207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CW017SA7164,2.187465,2.130583,2.079146,2.053846,2.028107,1.993453,1.961532,1.942093,1.952680,1.984957,...,1.150593,1.149948,1.150184,1.150910,1.151015,1.150748,1.150615,1.150541,1.150394,1.149878
CW017SA7167,2.154086,2.122482,2.061072,2.017800,2.007365,2.026743,2.058742,2.077140,2.069497,2.065080,...,1.226464,1.225381,1.224707,1.224440,1.224299,1.224463,1.225003,1.225329,1.224778,1.223832
CW017SA7168,2.159694,2.118398,2.149818,2.189918,2.170442,2.141771,2.140313,2.135926,2.115328,2.103800,...,1.188755,1.188114,1.188517,1.189058,1.188850,1.188428,1.187938,1.187309,1.186815,1.186573
CW104SA0052,1.915089,1.907579,2.006204,2.047937,2.043367,2.039258,2.045996,2.070376,2.097082,2.112224,...,1.735016,1.731109,1.727900,1.728896,1.729304,1.726673,1.724738,1.723750,1.723889,1.726787
CW104SA0053,2.077128,2.040786,2.043095,2.071373,2.064174,2.076678,2.131703,2.123007,2.021653,1.929988,...,1.437869,1.437094,1.434376,1.433937,1.436358,1.438110,1.439149,1.439427,1.436281,1.432167

In [22]:
s = pd.read_csv('outputFiles/PCC1/aluminium.csv', engine='c', index_col=0)

Bad pipe message: %s [b'\xfa&\x07\xcd\xf2\xba\xaeB\xd7WY\xdfM25)a\xc2 \xe3\t\x8c\x85\xbb\xcc{\x0eL\xd0\xa0\xf6q{\xc2\xbeM\xd7H\xbc\xc6r[\xf1\xc9\xe2\x1ai\x9e\x03\xcd\x87\x00\x08\x13\x02\x13\x03\x13\x01\x00\xff\x01\x00\x00\x8f\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x0c\x00\n\x00\x1d\x00\x17\x00\x1e\x00\x19\x00\x18\x00#\x00\x00\x00\x16\x00\x00\x00\x17\x00\x00\x00\r\x00\x1e\x00\x1c\x04\x03\x05\x03\x06', b'\x07\x08']
Bad pipe message: %s [b'\t\x08\n\x08\x0b\x08\x04']
Bad pipe message: %s [b'\x08\x06\x04\x01\x05\x01\x06', b'']
Bad pipe message: %s [b'\x03\x02\x03\x04\x00-\x00\x02\x01\x01\x003\x00&\x00$\x00\x1d\x00 t\xf1\xe9[\xf0\xd9}|\x9eV|\xbeV#\xfc\xc3\xc8`f(b?']
Bad pipe message: %s [b'\xdc\xd2\xde\\ZLu9]\xa4+!\xcb\xa7qp\xaft\x00\x00\xa6\xc0,\xc00\x00\xa3\x00\x9f\xcc\xa9\xcc\xa8\xcc\xaa\xc0\xaf\xc0\xad\xc0\xa3\xc0\x9f\xc0]\xc0a\xc0W\xc0S\xc0+\xc0/\x00\xa2\x00\x9e\xc0\xae\xc0\xac\xc0\xa2\xc0\x9e\xc0\\\xc0`\xc0V\xc0R\xc0$\xc0(\x00k\x00j\xc0s\xc0w\x00\xc4\x00\xc3\xc0']
Bad pipe message: %s [b"'\x00g\x00@\xc0r\xc0v\x00\xbe\x00\xbd\xc0\n\xc0\x14\x009\x008\x00\x88\x00\x87\xc0\t\xc0\x13\x003\x002\x00"]
Bad pipe message: %s [b'\x99\x00E\x00D\xc0\x07\xc0\x11\xc0\x08\xc0\x12\x00\x16\x00\x13\x00\x9d\xc0\xa1\xc0\x9d\xc0Q\x00\x9c\xc0\xa0\xc0\x9c\xc0P\x00=\x00\xc0\x00<\x00\xba\x005\x00\x84\x00/\x00\x96\x00A\x00\x05\x00\n\x00\xff\x01\x00\x00j\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x0c\x00\n\x00\x1d\x00\x17\x00\x1e\x00\x19\x00\x18\x00#\x00\x00\x00\x16\x00\x00\x00\x17\x00\x00\x00\r\x000\x00.\x04\x03\x05\x03\x06\x03\x08\x07\x08\x08\x08\t\x08\n\x08\x0b\x08\x04\x08\x05\x08\x06\x04\x01\x05\x01\x06\x01\x03\x03\x02\x03']
Bad pipe message: %s [b'\x02\x01', b'\x02\x02']
Bad pipe message: %s [b'\x05\x02\x06']
Bad pipe message: %s [b'SBWQ=\xff\xa2\xeb\xa1\x97R\x04\xd31\xd0\x9fi,\x00\x00\xa2\xc0\x14\xc0\n\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00:\x00\x89\xc0\x0f\xc0\x05\x005\x00\x84\xc0\x13\xc0\t\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x004\x00', b'F\xc0\x0e\xc0\x04\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\x00\x16\x00\x13\x00\x10\x00\r\xc0\x17\x00\x1b\xc0\r\xc0\x03\x00\n\x00\x15\x00\x12\x00\x0f\x00\x0c\x00\x1a\x00\t\x00\x14\x00\x11\x00\x19\x00\x08\x00\x06\x00\x17\x00\x03\xc0\x10\xc0\x06\xc0\x15\xc0\x0b\xc0\x01\x00\x02\x00\x01\x00\xff\x02\x01\x00\x00C\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x1c\x00\x1a\x00\x17\x00\x19\x00\x1c\x00\x1b\x00\x18\x00\x1a\x00\x16\x00\x0e\x00\r\x00\x0b\x00\x0c\x00\t']
Bad pipe message: %s [b'\x93\x95\xbb\xe9z\x8c\t@N\\\x92_\x19\xa4\x06\x1a\xdf\x81\x00\x00\xa2\xc0\x14\xc0\n\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00:\x00\x89\xc0\x0f\xc0\x05\x005\x00\x84\xc0\x13\xc0\t\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x004\x00\x9b\x00F\xc0']
Bad pipe message: %s [b'\x04\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07']
Bad pipe message: %s [b'\xc2\xedy\xa5EW\x9cq%\xfe\xa9\x15\xcdT\xa7\xe5\xd5F\x00\x00>\xc0\x14\xc0\n\x009\x008\x007\x006']
Bad pipe message: %s [b'3\xd9\x1a\x12\xaa\xc8v\x88\xc8h\xf3\x1a\xeb\x1aE\xe2\xa4\xc1\x00\x00\x86\xc00\xc0,\xc0(\xc0$\xc0\x14\xc0\n\x00\xa5\x00\xa3\x00\xa1\x00\x9f']
Bad pipe message: %s [b"\xd3\xe2M\x88D~\xeb/W(yR\x15\xc1\x9em\xb8\xfd\x00\x00\xf4\xc00\xc0,\xc0(\xc0$\xc0\x14\xc0\n\x00\xa5\x00\xa3\x00\xa1\x00\x9f\x00k\x00j\x00i\x00h\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00\xa7\x00m\x00:\x00\x89\xc02\xc0.\xc0*\xc0&\xc0\x0f\xc0\x05\x00\x9d\x00=\x005\x00\x84\xc0/\xc0+\xc0'\xc0#\xc0\x13\xc0\t\x00\xa4\x00\xa2\x00\xa0\x00\x9e\x00g\x00@\x00?\x00>\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x00\xa6\x00l\x004\x00\x9b\x00F\xc01\xc0-\xc0)\xc0%\xc0\x0e\xc0\x04\x00\x9c\x00<\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\x00\x16\x00\x13\x00\x10\x00\r\xc0\x17"]

In [23]:
arr = [1,2,3,4,5,6,7]

In [25]:
result = [sum(arr[0:i]) for i in range(len(arr))]

In [26]:
result

[0, 1, 3, 6, 10, 15, 21]