In [1]:
import sys
sys.path.append("/anaconda/envs/azureml_py38/lib/python3.8/site-packages")

In [2]:
import psycopg2
import pandas as pd
import numpy as np

In [3]:
def get_db_cursor():
    username = "doadmin"
    password = 'yzmodwh2oh16iks6'
    host = 'db-postgresql-cl1-do-user-2276924-0.db.ondigitalocean.com'
    port = 25060
    database = 'MandatoryMetadata'
    schema = 'historical'

    conn = psycopg2.connect(host=host, database=database,
                            user=username, password=password, port=port)
    cur = conn.cursor()
    cur.execute("SET search_path TO " + schema)

    return conn, cur

In [4]:
conn, cur = get_db_cursor()

In [6]:
v1_samples = pd.read_csv('./outputFiles/spectra.csv',usecols=[0])

In [7]:
v1_samples

             Unnamed: 0
0      AGD207-408SA0706
1      AGD207-431SA0001
2      AGD207-431SA0002
3      AGD207-431SA0003
4      AGD207-431SA0004
...                 ...
87362       CW017SA7164
87363       CW017SA7167
87364       CW017SA7168
87365       CW104SA0052
87366       CW104SA0053

[87367 rows x 1 columns]

In [8]:
v2_samples = pd.read_sql('select sample_code from MandatoryMetadata', con = conn)

/tmp/ipykernel_4146/2923516565.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  v2_samples = pd.read_sql('select sample_code from MandatoryMetadata', con = conn)

In [9]:
v2_samples

        sample_code
0         ML-SS21-2
1         ML-SS21-2
2         ML-SS21-2
3         ML-SS21-2
4         ML-SS21-2
...             ...
185415  CA053SA1584
185416  CM754SA0017
185417  CA053SA1597
185418  CE445SA0001
185419  CT021SA2589

[185420 rows x 1 columns]

In [10]:
v2_samples = v2_samples.loc[~v2_samples['sample_code'].isin(v1_samples['Unnamed: 0'])]

In [11]:
v2_samples

        sample_code
0         ML-SS21-2
1         ML-SS21-2
2         ML-SS21-2
3         ML-SS21-2
4         ML-SS21-2
...             ...
185415  CA053SA1584
185416  CM754SA0017
185417  CA053SA1597
185418  CE445SA0001
185419  CT021SA2589

[76868 rows x 1 columns]

In [12]:
sample_codes = v2_samples['sample_code'].values

In [13]:
if(len(sample_codes) < 5000):
    count  = len(sample_codes)
    step=count
elif(len(sample_codes) < 70000):
    count = len(sample_codes)
    step=5000
else:
    count = 70000
    step=5000
start = 0

In [14]:
count

70000

In [15]:
start

0

In [16]:
step

5000

In [17]:
spectra = pd.DataFrame()

In [18]:
def convertSpectra(df):
    print("Converting spectra")
    df_ = pd.DataFrame([i[[i for i in i.keys()][0]] for i in df['averaged_spectra'].values],columns = np.arange(522,3977,2))
    df_.index = df.index
    print("Spectra converted")
    return df_

In [19]:
for i in np.arange(start, count, step):
        
    print("Fetching spectra from {}".format(start))
    samples = [i for i in sample_codes][start:start+step]
    print(len(samples))
    query = f"SELECT spectraldata.metadata_id, averaged_spectra, mandatorymetadata.sample_code  FROM spectraldata INNER JOIN mandatorymetadata ON mandatorymetadata.metadata_id = spectraldata.metadata_id WHERE is_finalized=True AND passed=True AND is_active=True AND averaged=True AND sample_code IN {str(samples).replace('[','(').replace(']',')')}"

    _ = pd.read_sql(query, con=conn)
    print("This is the spectra",_)
    spectra = pd.concat([spectra, _], axis=0)
    start = start + step
    if (count-step) > 5000:
        step=5000
    else:
        step = count-step

conn.close()
spectra = spectra[['sample_code', 'averaged_spectra']]
spectra = spectra.set_index('sample_code')
spectra = convertSpectra(spectra)


spectra.to_csv("./outputFiles/spectraldata.csv")

Fetching spectra from 0
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0            3394  {'522': [2.152443884558668, 2.1388348361128093...
1              17  {'522': [2.3243741634120374, 2.307540485180485...
2              19  {'522': [2.2630152586026915, 2.290110779246487...
3              47  {'522': [2.3843932844687363, 2.491238662094451...
4            3311  {'522': [2.241984739726626, 2.1906742432163697...
...           ...                                                ...
4124       164706  {'522': [2.342822785838603, 2.3137618983017196...
4125       181381  {'522': [2.273500591540199, 2.289040267833519,...
4126       181387  {'522': [2.584770864487254, 2.487291039760919,...
4127       181389  {'522': [2.393617302652631, 2.4448304558125797...
4128       181390  {'522': [2.351067529303632, 2.365038585784037,...

         sample_code
0        CK013SA1874
1        CS006SA0042
2     FA419-51SA0016
3        CB278SA0008
4        CC176SA5749
...              ...
4124  FA809-39SA0001
4125     CK517SA0006
4126     CK517SA0005
4127     CK517SA0004
4128     CK517SA0001

[4129 rows x 3 columns]
Fetching spectra from 5000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0            9678  {'522': [1.927769621678208, 1.925405071237877,...
1           10060  {'522': [2.205620243316738, 2.180918444365819,...
2           10061  {'522': [2.214397613050674, 2.225897847224749,...
3           10062  {'522': [2.3232044802759146, 2.266412198474394...
4           10044  {'522': [2.221995948069573, 2.21779990795695, ...
...           ...                                                ...
3859       164567  {'522': [2.2824159061184344, 2.286736339427943...
3860       164584  {'522': [2.3505878022379356, 2.348984197063309...
3861       164590  {'522': [2.185686959922438, 2.2294406911065163...
3862       164602  {'522': [2.2298824581456125, 2.208054997233607...
3863       164663  {'522': [2.2999282616394963, 2.275109868978545...

           sample_code
0       I30-1-31SA0008
1          CH006SA5573
2          CS103SA0717
3     AGD517-108SA0002
4          CH006SA5618
...                ...
3859    FA538-32SA0001
3860    FA539-47SA0001
3861    FA538-27SA0001
3862    FA539-49SA0003
3863    FA539-50SA0001

[3864 rows x 3 columns]
Fetching spectra from 10000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0           66526  {'522': [1.8834612566487339, 1.886456636644108...
1           70222  {'522': [2.3843249304016605, 2.380336073318609...
2           80279  {'522': [2.6218711771561694, 2.711017621140423...
3           66480  {'522': [2.1454910293459, 2.068398930076431, 2...
4           66482  {'522': [2.17815573586479, 2.134713537301854, ...
...           ...                                                ...
3888        79863  {'522': [2.2269134180792975, 2.251605527867832...
3889        79864  {'522': [2.429338327331431, 2.4090423257788287...
3890        79875  {'522': [2.257758000754111, 2.291146791690083,...
3891        79877  {'522': [2.284768592608608, 2.2759214807676216...
3892        79893  {'522': [2.2327010815716117, 2.265595042486357...

      sample_code
0     CH006SA4400
1     CI016SA3834
2     CC131SA0235
3     CH006SA4493
4     CH006SA4393
...           ...
3888  CC068SA0520
3889  CC068SA0545
3890  CC068SA0550
3891  CC068SA0561
3892  CC068SA0562

[3893 rows x 3 columns]
Fetching spectra from 15000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0           66510  {'522': [2.02811296681273, 1.9577667412102304,...
1           70222  {'522': [2.3843249304016605, 2.380336073318609...
2           66480  {'522': [2.1454910293459, 2.068398930076431, 2...
3           66482  {'522': [2.17815573586479, 2.134713537301854, ...
4           66519  {'522': [2.193043455887586, 2.1621662015049967...
...           ...                                                ...
4056        79875  {'522': [2.257758000754111, 2.291146791690083,...
4057        79877  {'522': [2.284768592608608, 2.2759214807676216...
4058        79884  {'522': [2.3102922771354315, 2.276120470272876...
4059       164989  {'522': [2.32026264331045, 2.3049437360926963,...
4060       161257  {'522': [2.201674855097738, 2.179971810903216,...

        sample_code
0       CH006SA4474
1       CI016SA3834
2       CH006SA4493
3       CH006SA4393
4       CH006SA4450
...             ...
4056    CC068SA0550
4057    CC068SA0561
4058    CC068SA0575
4059  FA329-8SA0001
4060    CF177SA3596

[4061 rows x 3 columns]
Fetching spectra from 20000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0           66510  {'522': [2.02811296681273, 1.9577667412102304,...
1           66480  {'522': [2.1454910293459, 2.068398930076431, 2...
2           66482  {'522': [2.17815573586479, 2.134713537301854, ...
3           66519  {'522': [2.193043455887586, 2.1621662015049967...
4           66522  {'522': [2.1316791533121795, 2.000136808674984...
...           ...                                                ...
4143        82515  {'522': [2.452869753540792, 2.4326419825158783...
4144        82516  {'522': [1.8577873025080782, 1.946028350831674...
4145        82526  {'522': [2.517618768795172, 2.4237894596865477...
4146        82558  {'522': [1.8455417268841376, 1.871598636166559...
4147        82588  {'522': [2.0093301973279183, 1.980641446421403...

      sample_code
0     CH006SA4474
1     CH006SA4493
2     CH006SA4393
3     CH006SA4450
4     CH006SA4511
...           ...
4143  CC176SA5747
4144   CC176SA377
4145  CC176SA5740
4146  CC176SA3178
4147  CC176SA5741

[4148 rows x 3 columns]
Fetching spectra from 25000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0           85786  {'522': [2.535267511678853, 2.595476646005183,...
1           85772  {'522': [1.9007603059931637, 1.948197615387478...
2           85778  {'522': [2.28541727201782, 2.2087836495486055,...
3           85789  {'522': [2.3429209326131826, 2.382619233323375...
4           86100  {'522': [2.291845555162393, 2.296533246652396,...
...           ...                                                ...
3428       164518  {'522': [2.29812682910934, 2.3349551374730595,...
3429       164519  {'522': [2.213814964796482, 2.179310053155311,...
3430       164712  {'522': [2.4038497581402023, 2.423477627142354...
3431       164692  {'522': [2.384992359889115, 2.346826330511328,...
3432       164713  {'522': [2.371926954970501, 2.421221605322841,...

         sample_code
0        CE357SA0846
1        CK013SA1539
2        CH006SA5388
3        CS158SA0566
4        CS597SA0001
...              ...
3428  FA419-45SA0003
3429  FA419-85SA0001
3430  FA912-41SA0001
3431  FA539-52SA0002
3432   FA926-1SA0001

[3433 rows x 3 columns]
Fetching spectra from 30000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0          107160  {'522': [1.9547160018846539, 1.983529438960184...
1          107158  {'522': [2.3111737718971295, 2.382890145174427...
2          107159  {'522': [2.156821212289217, 2.169557206878203,...
3          107161  {'522': [1.9902686161539531, 1.961168875656618...
4          107170  {'522': [2.275012451584521, 2.265162089949595,...
...           ...                                                ...
3591       107139  {'522': [2.420848448505933, 2.432744909228643,...
3592       107146  {'522': [2.243553857004941, 2.3131113848510494...
3593       107151  {'522': [2.0674830246210045, 2.081847348175832...
3594       161094  {'522': [2.081532391008924, 2.044332592554879,...
3595       161069  {'522': [2.20023299426236, 2.3282682578031437,...

         sample_code
0     I38-1-43SA0012
1     I30-1-36SA0028
2     I38-1-13SA0061
3     I30-1-24SA0008
4     FA419-35SA0002
...              ...
3591     CJ030SA5320
3592  FA807-66SA0002
3593     CH006SA4285
3594     CF131SA0268
3595     CH006SA2879

[3596 rows x 3 columns]
Fetching spectra from 35000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0          108193  {'522': [1.9412762261551668, 1.931799168692976...
1          108481  {'522': [2.213952400982423, 2.2079233961619673...
2          108483  {'522': [2.1485826268196626, 2.157922033484391...
3          108484  {'522': [2.4265925637629326, 2.408174292090732...
4          108485  {'522': [1.945060412024369, 1.9306223663312543...
...           ...                                                ...
3734       115514  {'522': [2.485428207136856, 2.480887473401089,...
3735       115539  {'522': [2.194074561239491, 2.1869345175254766...
3736       111386  {'522': [2.371795108530755, 2.338723259718541,...
3737       111387  {'522': [2.332584037611671, 2.2651399690636507...
3738       161077  {'522': [2.180050505253619, 2.1816515651034107...

          sample_code
0      I30-1-12SA0087
1      I30-1-10SA0171
2      I30-1-14SA0069
3      FA419-31SA0003
4      I30-1-20SA0013
...               ...
3734  FA324-732SA0002
3735  FA616-444SA0001
3736    FA109-2SA0001
3737    FA806-5SA0001
3738   I30-1-12SA0065

[3739 rows x 3 columns]
Fetching spectra from 40000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0          119642  {'522': [2.2046795909905708, 2.217654966860105...
1          119301  {'522': [1.953391926426997, 1.9449189164277243...
2          119317  {'522': [2.22370498383736, 2.231404666709866, ...
3          119307  {'522': [2.3843210389184835, 2.406631583938609...
4          119318  {'522': [2.23347743520713, 2.2191966022934526,...
...           ...                                                ...
3698       131839  {'522': [1.8486387821314754, 1.832751857868039...
3699       131872  {'522': [2.258234317057904, 2.279292625480984,...
3700       131880  {'522': [2.451056311760339, 2.3153578536604975...
3701       131883  {'522': [2.532092190712908, 2.4573469236850656...
3702       131884  {'522': [2.4006311240894966, 2.416095185067676...

      sample_code
0     CS158SA0696
1     CO126SA0229
2     CT042SA7116
3     CS146SA0133
4     CS340SA0004
...           ...
3698  CK352SA0684
3699  CM068SA0039
3700  CO027SA3785
3701  CK099SA0466
3702  CK099SA0432

[3703 rows x 3 columns]
Fetching spectra from 45000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0          150647  {'522': [2.446750161340474, 2.421800730810803,...
1          150637  {'522': [2.3244015368711626, 2.331899248075591...
2          150658  {'522': [2.2181230343478187, 2.09921826140939,...
3          150654  {'522': [2.3090340211786784, 2.367327177415693...
4          150664  {'522': [2.141869907994555, 2.1914835617444517...
...           ...                                                ...
3830       150569  {'522': [2.422530717016623, 2.4296900303835463...
3831       150573  {'522': [2.348804435961078, 2.469599823571247,...
3832       150589  {'522': [2.241141925171868, 2.229770752940004,...
3833       150591  {'522': [2.3445000651077654, 2.329508075847456...
3834       150611  {'522': [2.2346107264939077, 2.26436857017197,...

      sample_code
0     CN074SA0363
1     CM022SA0185
2     CK352SA1650
3     CK099SA0755
4     CM693SA0190
...           ...
3830  CK099SA0743
3831  CO027SA2113
3832  CN314SA0005
3833  CK495SA0001
3834  CK099SA0241

[3835 rows x 3 columns]
Fetching spectra from 50000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0          154164  {'522': [2.0104202360548267, 1.981999401419639...
1          167972  {'522': [2.3290586480436613, 2.290006588877727...
2          154165  {'522': [2.288639410630995, 2.3660046272854016...
3          154053  {'522': [2.3211737039185234, 2.339109326571447...
4          154051  {'522': [2.142114440837158, 2.139087686080701,...
...           ...                                                ...
4310       163256  {'521': [2.2857856200508904, 2.265582940280912...
4311       163262  {'521': [2.2020469272047443, 2.194807391219000...
4312       163263  {'521': [2.2924409501857337, 2.251040072160946...
4313       163264  {'521': [2.3939052225659676, 2.375022344767187...
4314       163265  {'521': [2.200578590261006, 2.2128436843215464...

      sample_code
0     CM693SA0184
1     CK013SA2214
2     CM247SA0038
3     CO027SA1702
4     CN074SA1564
...           ...
4310  CI112SA1574
4311  CI112SA1564
4312  CJ441SA0042
4313  CI112SA1479
4314  CI112SA1401

[4315 rows x 3 columns]
Fetching spectra from 55000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0          166646  {'522': [2.2657016301100743, 2.300698771342198...
1          166647  {'522': [2.3278448143849726, 2.248211608578594...
2          166429  {'522': [2.2435300085118577, 2.238293542821445...
3          166430  {'522': [2.3291886211780755, 2.329718194177455...
4          166431  {'522': [2.264120063327164, 2.233131213318482,...
...           ...                                                ...
3907       166367  {'522': [2.365168917358984, 2.413963738562138,...
3908       166409  {'522': [2.283813863204471, 2.3075538425049205...
3909       166410  {'522': [2.3530392626345105, 2.351563729181086...
3910       166411  {'522': [2.592178092078873, 2.585046414559575,...
3911       166412  {'522': [2.3788438912743652, 2.490984243916541...

          sample_code
0         CC176SA6206
1         CM034SA0712
2         CA631SA0009
3         CA631SA0002
4         CA631SA0006
...               ...
3907      CC248SA0056
3908  AGD917-64SA0001
3909      CC029SA1544
3910      CA053SA1462
3911      CA053SA1461

[3912 rows x 3 columns]
Fetching spectra from 60000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0          169432  {'522': [2.4187893970400793, 2.417939955891207...
1          169431  {'522': [2.3702275384975087, 2.359823732420010...
2          169262  {'522': [2.3542653244033804, 2.310922037203222...
3          169434  {'522': [2.362285884344652, 2.292703742862818,...
4          169435  {'522': [2.4025259186548062, 2.362204511802847...
...           ...                                                ...
4546       172175  {'521': [2.2043349597306117, 2.238836162244238...
4547       172176  {'521': [2.0939485393083883, 2.099652582562198...
4548       172177  {'521': [2.224752306353264, 2.1672231773153223...
4549       173202  {'522': [2.3720274144911793, 2.41392215824324,...
4550       173203  {'522': [2.1532567045346047, 2.184432758272259...

      sample_code
0     FA539SA0028
1     CK022SA1029
2     CK013SA2318
3     FA222SA0011
4     CE006SA2485
...           ...
4546  CW015SA0226
4547  CW015SA0228
4548  CW015SA0229
4549  CC029SA1562
4550  CF177SA4614

[4551 rows x 3 columns]
Fetching spectra from 65000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0          174627  {'521': [2.4135124224144717, 2.347217717464731...
1          174628  {'521': [2.3707205646004628, 2.415098669532812...
2          174629  {'521': [2.249546231072642, 2.1762613959957475...
3          174292  {'522': [2.4384822095952883, 2.529917286495978...
4          174307  {'522': [2.2848620324610183, 2.249236521181385...
...           ...                                                ...
3375       174301  {'522': [2.399368033707865, 2.430010439336283,...
3376       174302  {'522': [2.240064713568949, 2.2329802057639974...
3377       174303  {'522': [2.2476213139219086, 2.259108562312652...
3378       174304  {'522': [2.3979908369049605, 2.408627544863172...
3379       174305  {'522': [2.2464124296584282, 2.217575016581038...

      sample_code
0     CJ030SA5662
1     CS365SA0075
2     AGD97SA0013
3     CO163SA0001
4     CF177SA4758
...           ...
3375  FA807SA0107
3376  CK559SA0001
3377  CM790SA0002
3378  FA539SA0077
3379  CM790SA0001

[3380 rows x 3 columns]
Converting spectra
Spectra converted

/tmp/ipykernel_4146/3563983685.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4146/3563983685.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4146/3563983685.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4146/3563983685.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4146/3563983685.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4146/3563983685.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4146/3563983685.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4146/3563983685.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4146/3563983685.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4146/3563983685.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4146/3563983685.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4146/3563983685.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4146/3563983685.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_4146/3563983685.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)