In [1]:
import sys
sys.path.append("/anaconda/envs/azureml_py38/lib/python3.8/site-packages")

In [2]:
import psycopg2
import pandas as pd
import numpy as np

In [3]:
def get_db_cursor():
    username = "doadmin"
    password = 'yzmodwh2oh16iks6'
    host = 'db-postgresql-cl1-do-user-2276924-0.db.ondigitalocean.com'
    port = 25060
    database = 'MandatoryMetadata'
    schema = 'historical'

    conn = psycopg2.connect(host=host, database=database,
                            user=username, password=password, port=port)
    cur = conn.cursor()
    cur.execute("SET search_path TO " + schema)

    return conn, cur

In [4]:
conn, cur = get_db_cursor()

In [5]:
v1_samples = pd.read_csv('./outputFiles/spectra.csv',usecols=[0])

In [6]:
v1_samples

             Unnamed: 0
0      AGD207-408SA0706
1      AGD207-431SA0001
2      AGD207-431SA0002
3      AGD207-431SA0003
4      AGD207-431SA0004
...                 ...
87362       CW017SA7164
87363       CW017SA7167
87364       CW017SA7168
87365       CW104SA0052
87366       CW104SA0053

[87367 rows x 1 columns]

In [7]:
v2_samples = pd.read_sql('select sample_code from MandatoryMetadata', con = conn)

/tmp/ipykernel_5014/2923516565.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  v2_samples = pd.read_sql('select sample_code from MandatoryMetadata', con = conn)

In [8]:
v2_samples

        sample_code
0         ML-SS21-2
1         ML-SS21-2
2         ML-SS21-2
3         ML-SS21-2
4         ML-SS21-2
...             ...
186311  CV062SA0752
186312  CH213SA0001
186313  CP433SA0007
186314  CP433SA0001
186315  CP433SA0002

[186316 rows x 1 columns]

In [9]:
v2_samples = v2_samples.loc[~v2_samples['sample_code'].isin(v1_samples['Unnamed: 0'])]

In [10]:
v2_samples

        sample_code
0         ML-SS21-2
1         ML-SS21-2
2         ML-SS21-2
3         ML-SS21-2
4         ML-SS21-2
...             ...
186311  CV062SA0752
186312  CH213SA0001
186313  CP433SA0007
186314  CP433SA0001
186315  CP433SA0002

[77764 rows x 1 columns]

In [11]:
sample_codes = v2_samples['sample_code'].values

In [12]:
if(len(sample_codes) < 5000):
    count  = len(sample_codes)
    step=count
elif(len(sample_codes) < 70000):
    count = len(sample_codes)
    step=5000
else:
    count = 70000
    step=5000
start = 0

In [13]:
count

70000

In [14]:
start

0

In [15]:
step

5000

In [16]:
spectra = pd.DataFrame()

In [17]:
def convertSpectra(df):
    print("Converting spectra")
    df_ = pd.DataFrame([i[[i for i in i.keys()][0]] for i in df['averaged_spectra'].values],columns = np.arange(522,3977,2))
    df_.index = df.index
    print("Spectra converted")
    return df_

In [18]:
for i in np.arange(start, count, step):
        
    print("Fetching spectra from {}".format(start))
    samples = [i for i in sample_codes][start:start+step]
    print(len(samples))
    query = f"SELECT spectraldata.metadata_id, spectraldata.averaged_spectra, mandatorymetadata.sample_code FROM spectraldata INNER JOIN mandatorymetadata ON mandatorymetadata.metadata_id = spectraldata.metadata_id WHERE averaged=True AND sample_code IN {str(samples).replace('[','(').replace(']',')')}"

    _ = pd.read_sql(query, con=conn)
    print("This is the spectra",_)
    spectra = pd.concat([spectra, _], axis=0)
    start = start + step
    if (count-step) > 5000:
        step=5000
    else:
        step = count-step

Fetching spectra from 0
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0          187056  {'522': [2.3645274701916428, 2.380267433090121...
1          186833  {'522': [2.324679546571156, 2.3247525703442165...
2          186966  {'522': [2.397271446121614, 2.4282403701836808...
3          187043  {'522': [2.3943149118512363, 2.391047759744343...
4          187025  {'522': [2.381931136382427, 2.383939558800457,...
...           ...                                                ...
6205       161700  {'522': [2.360054879422215, 2.302488578286381,...
6206       161726  {'522': [2.400198791126645, 2.4553677734575245...
6207       161730  {'522': [2.503719823794537, 2.5818505003199634...
6208       161766  {'522': [2.242610077256419, 2.2293044933304005...
6209       161777  {'522': [2.32940209441737, 2.2779935330976473,...

          sample_code
0           ML-SS21-1
1           ML-SS21-1
2           ML-SS21-1
3           ML-SS21-1
4           ML-SS21-1
...               ...
6205   FA419-76SA0001
6206   FA539-22SA0001
6207      CA053SA1351
6208  FA807-778SA0003
6209  AGD218-99SA0002

[6210 rows x 3 columns]
Fetching spectra from 5000
5000
This is the spectra        metadata_id                                   averaged_spectra  \
0           187056  {'522': [2.3645274701916428, 2.380267433090121...
1           187043  {'522': [2.3943149118512363, 2.391047759744343...
2           187025  {'522': [2.381931136382427, 2.383939558800457,...
3           186987  {'521': [2.243089700678383, 2.1948415943304833...
4           186864  {'521': [2.2609804305624883, 2.293829992699927...
...            ...                                                ...
14483       164602  {'522': [2.2298824581456125, 2.208054997233607...
14484       164603  {'522': [2.317334932100927, 2.4456179872900004...
14485       164663  {'522': [2.2999282616394963, 2.275109868978545...
14486       162082  {'522': [2.383834646840553, 2.3386625738237385...
14487       162101  {'522': [2.1605237037498073, 2.182780669867438...

          sample_code
0           ML-SS21-1
1           ML-SS21-1
2           ML-SS21-1
3           ML-SS21-1
4           ML-SS21-1
...               ...
14483  FA539-49SA0003
14484  FA537-37SA0004
14485  FA539-50SA0001
14486     CC004SA0948
14487     CC004SA0951

[14488 rows x 3 columns]
Fetching spectra from 10000
5000
This is the spectra        metadata_id                                   averaged_spectra  \
0             8980  {'522': [2.0911822434473404, 2.133567386898148...
1            10080  {'522': [2.274885254503441, 2.2319242103001766...
2            10047  {'522': [2.278888888660214, 2.297786508344143,...
3            13692  {'522': [1.8475415838865055, 1.901551774140139...
4            10093  {'522': [2.2795946619414096, 2.273787762387321...
...            ...                                                ...
16716         9128  {'522': [2.474892988471389, 2.458521552105081,...
16717        12810  {'522': [2.0956831689507207, 2.094727540187541...
16718        18212  {'522': [2.2584202862218916, 2.326330791219439...
16719        14186  {'522': [2.1507286896513693, 2.087713989936583...
16720        14188  {'522': [2.33548401557496, 2.3546465759514166,...

           sample_code
0      AGD917-33SA0002
1      AGD918-20SA0001
2      AGD918-34SA0002
3          CB206SA0101
4      AGD918-35SA0001
...                ...
16716   AGD903-37A0001
16717      CA330SA2036
16718       CC176SA364
16719      CB290SA0004
16720      CC004SA0531

[16721 rows x 3 columns]
Fetching spectra from 15000
5000
This is the spectra        metadata_id                                   averaged_spectra  \
0           187056  {'522': [2.3645274701916428, 2.380267433090121...
1           187043  {'522': [2.3943149118512363, 2.391047759744343...
2           187025  {'522': [2.381931136382427, 2.383939558800457,...
3           186987  {'521': [2.243089700678383, 2.1948415943304833...
4           186864  {'521': [2.2609804305624883, 2.293829992699927...
...            ...                                                ...
16723       161180  {'522': [2.3265568598179995, 2.264019334904624...
16724       161182  {'522': [2.3783419198610103, 2.422783456084052...
16725       161392  {'522': [2.33595944594112, 2.3252500220468213,...
16726       161208  {'522': [2.317288846451495, 2.3108945112643537...
16727       161217  {'522': [2.3213938332848225, 2.414833891653165...

      sample_code
0       ML-SS21-1
1       ML-SS21-1
2       ML-SS21-1
3       ML-SS21-1
4       ML-SS21-1
...           ...
16723   ML-SS21-1
16724   ML-SS21-1
16725   ML-SS21-1
16726   ML-SS21-1
16727   ML-SS21-1

[16728 rows x 3 columns]
Fetching spectra from 20000
5000
This is the spectra        metadata_id                                   averaged_spectra  \
0            10047  {'522': [2.278888888660214, 2.297786508344143,...
1             8980  {'522': [2.0911822434473404, 2.133567386898148...
2            22662  {'522': [2.158945932015736, 2.153889578143777,...
3            10093  {'522': [2.2795946619414096, 2.273787762387321...
4            10080  {'522': [2.274885254503441, 2.2319242103001766...
...            ...                                                ...
15799        12716  {'522': [1.8564475686879574, 1.854742154901267...
15800        12717  {'522': [2.1063307265074283, 2.086924566123302...
15801        12722  {'522': [1.9785948013915613, 1.899323604772779...
15802        10445  {'522': [2.06221473662357, 2.1126158842060443,...
15803        23042  {'522': [2.2463484911294493, 2.229812334377880...

           sample_code
0      AGD918-34SA0002
1      AGD917-33SA0002
2          CF177SA1467
3      AGD918-35SA0001
4      AGD918-20SA0001
...                ...
15799      CA330SA2039
15800      CA330SA2140
15801      CA330SA2371
15802  AGD917-23SA0001
15803      CF177SA3121

[15804 rows x 3 columns]
Fetching spectra from 25000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0          187056  {'522': [2.3645274701916428, 2.380267433090121...
1          187043  {'522': [2.3943149118512363, 2.391047759744343...
2          187025  {'522': [2.381931136382427, 2.383939558800457,...
3          186987  {'521': [2.243089700678383, 2.1948415943304833...
4          186864  {'521': [2.2609804305624883, 2.293829992699927...
...           ...                                                ...
9376       161735  {'522': [2.359731449123168, 2.4714294774879737...
9377       161753  {'522': [2.260372011337533, 2.302202772227119,...
9378       161767  {'522': [2.4079214978472976, 2.361045826196156...
9379       161773  {'522': [2.278073481381654, 2.288160863047489,...
9380       161780  {'522': [2.33516306388488, 2.2543873074679697,...

          sample_code
0           ML-SS21-1
1           ML-SS21-1
2           ML-SS21-1
3           ML-SS21-1
4           ML-SS21-1
...               ...
9376   FA419-86SA0002
9377  AGD928-28SA0002
9378      CA053SA1409
9379  AGD928-28SA0003
9380      CA053SA1404

[9381 rows x 3 columns]
Fetching spectra from 30000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0           95763  {'522': [2.1276560508178157, 2.111848090243860...
1          107164  {'522': [2.0718084080978603, 2.029311660335484...
2           95749  {'522': [2.150865347248802, 2.194643888298641,...
3          107165  {'522': [2.160624560592213, 2.2155427941949903...
4          107173  {'522': [2.034654087105735, 2.0495077603451684...
...           ...                                                ...
5032       161091  {'522': [2.3138144462069095, 2.29630994870248,...
5033       161093  {'522': [1.9405733118056636, 1.955378765696380...
5034       161094  {'522': [2.081532391008924, 2.044332592554879,...
5035       161069  {'522': [2.20023299426236, 2.3282682578031437,...
5036       161075  {'522': [2.0011840779884444, 2.048553508212463...

         sample_code
0        CG325SA0008
1     I30-1-35SA0035
2        CH006SA5417
3     I30-1-14SA0329
4     I48-1-62SA0001
...              ...
5032     CK013SA2039
5033     CF131SA0921
5034     CF131SA0268
5035     CH006SA2879
5036     CS417SA0046

[5037 rows x 3 columns]
Fetching spectra from 35000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0          108212  {'522': [2.189539391894658, 2.110054675916684,...
1          108481  {'522': [2.213952400982423, 2.2079233961619673...
2          108482  {'522': [2.2156362012611166, 2.163811121193387...
3          108483  {'522': [2.1485826268196626, 2.157922033484391...
4          108484  {'522': [2.4265925637629326, 2.408174292090732...
...           ...                                                ...
5003       109550  {'522': [2.104335458282711, 2.1083162238587647...
5004       109551  {'522': [2.1330684441820997, 2.195063659110987...
5005       161092  {'522': [2.0437636452011354, 2.099161232875365...
5006       161100  {'522': [2.0924970358907853, 1.884085295381002...
5007       161077  {'522': [2.180050505253619, 2.1816515651034107...

          sample_code
0      I30-1-14SA0307
1      I30-1-10SA0171
2      I30-1-30SA0004
3      I30-1-14SA0069
4      FA419-31SA0003
...               ...
5003   I30-1-13SA0069
5004   AGD820-6SA0002
5005    FA222-9SA0001
5006  AGD806-42SA0001
5007   I30-1-12SA0065

[5008 rows x 3 columns]
Fetching spectra from 40000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0          119305  {'522': [2.1636099908177058, 2.141558655219781...
1          119302  {'522': [2.306427851914301, 2.3335228032143593...
2          119303  {'522': [1.776712558387745, 1.7723418431684412...
3          119642  {'522': [2.2046795909905708, 2.217654966860105...
4          119301  {'522': [1.953391926426997, 1.9449189164277243...
...           ...                                                ...
4996       124325  {'522': [2.2723891231604867, 2.286408191276184...
4997       124329  {'522': [1.9688415049291201, 1.967748264137951...
4998       124330  {'522': [2.0893625491404793, 2.065115638085085...
4999       124333  {'522': [2.2017550565237, 2.155568811266905, 2...
5000       161088  {'522': [1.9453473671406885, 2.007683530660661...

      sample_code
0     CT214SA0574
1     CS331SA0017
2     CS436SA0037
3     CS158SA0696
4     CO126SA0229
...           ...
4996  CS196SA0314
4997  CS387SA0022
4998  CO126SA0020
4999  CS255SA0017
5000  CS341SA0083

[5001 rows x 3 columns]
Fetching spectra from 45000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0          150635  {'522': [2.0295687282584756, 2.047287084002841...
1          150627  {'522': [1.8741000391633091, 1.854811524701267...
2          150654  {'522': [2.3090340211786784, 2.367327177415693...
3          150637  {'522': [2.3244015368711626, 2.331899248075591...
4          150647  {'522': [2.446750161340474, 2.421800730810803,...
...           ...                                                ...
5014       150230  {'522': [2.203937643723396, 2.181743798081894,...
5015       150258  {'522': [2.3186993025290064, 2.342315964791442...
5016       150262  {'522': [2.300923779227592, 2.265799927108181,...
5017       150267  {'522': [2.3926605717927463, 2.325838212308269...
5018       142322  {'522': [2.1747127088662452, 2.178712183597252...

      sample_code
0     CK079SA3435
1     CM073SA0783
2     CK099SA0755
3     CM022SA0185
4     CN074SA0363
...           ...
5014  CM247SA1398
5015  CK171SA0070
5016  CO027SA1379
5017  CK099SA0247
5018  CY021SA0107

[5019 rows x 3 columns]
Fetching spectra from 50000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0          187056  {'522': [2.3645274701916428, 2.380267433090121...
1          187043  {'522': [2.3943149118512363, 2.391047759744343...
2          187025  {'522': [2.381931136382427, 2.383939558800457,...
3          186987  {'521': [2.243089700678383, 2.1948415943304833...
4          186864  {'521': [2.2609804305624883, 2.293829992699927...
...           ...                                                ...
7257       157949  {'522': [2.2904245113643587, 2.269560000775554...
7258       157950  {'522': [2.2804741334451686, 2.327073138190691...
7259       157956  {'522': [2.138724421162629, 2.1354724121865583...
7260       157958  {'522': [2.646072909504797, 2.5305144788018543...
7261       157963  {'522': [2.36860419486202, 2.283756521052031, ...

      sample_code
0       ML-SS21-1
1       ML-SS21-1
2       ML-SS21-1
3       ML-SS21-1
4       ML-SS21-1
...           ...
7257  CA588SA0018
7258  CE046SA0025
7259  CA083SA0046
7260  CB049SA0036
7261  CA022SA0239

[7262 rows x 3 columns]
Fetching spectra from 55000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0          187056  {'522': [2.3645274701916428, 2.380267433090121...
1          187043  {'522': [2.3943149118512363, 2.391047759744343...
2          187025  {'522': [2.381931136382427, 2.383939558800457,...
3          186987  {'521': [2.243089700678383, 2.1948415943304833...
4          186864  {'521': [2.2609804305624883, 2.293829992699927...
...           ...                                                ...
5646       164319  {'522': [2.383538390598514, 2.3540228100004694...
5647       164320  {'522': [2.3499038815611897, 2.385809615597573...
5648       164321  {'522': [2.4153952481349172, 2.341827754143104...
5649       164322  {'522': [2.517096230518794, 2.437698961744851,...
5650       164323  {'522': [2.310717799019555, 2.357101216642394,...

          sample_code
0           ML-SS21-1
1           ML-SS21-1
2           ML-SS21-1
3           ML-SS21-1
4           ML-SS21-1
...               ...
5646   FA537-96SA0005
5647  FA524-274SA0002
5648   FA539-40SA0002
5649  FA406-196SA0007
5650   FA537-93SA0002

[5651 rows x 3 columns]
Fetching spectra from 60000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0              27  {'522': [2.168894010369754, 2.1714387890354905...
1          177310  {'522': [2.4069673682368773, 2.424975993032607...
2          177197  {'522': [2.413664708747909, 2.420136196041784,...
3          177091  {'521': [2.211498269176012, 2.343988294831539,...
4          177145  {'521': [2.4040616420390135, 2.554046932102097...
...           ...                                                ...
5271       166322  {'522': [2.4388540744492473, 2.399392737899509...
5272       166338  {'522': [2.431711745778313, 2.491956221424079,...
5273       166368  {'522': [2.3832986618691603, 2.418019421881964...
5274       166389  {'522': [2.477091493551886, 2.414741370768122,...
5275       166414  {'522': [2.249738603378021, 2.2770500845432853...

     sample_code
0      ML-SS21-8
1      ML-SS21-3
2      ML-SS21-5
3      ML-SS21-5
4      ML-SS21-5
...          ...
5271   ML-SS21-3
5272   ML-SS21-3
5273   ML-SS21-3
5274   ML-SS21-3
5275   ML-SS21-3

[5276 rows x 3 columns]
Fetching spectra from 65000
5000
This is the spectra       metadata_id                                   averaged_spectra  \
0          187056  {'522': [2.3645274701916428, 2.380267433090121...
1          187043  {'522': [2.3943149118512363, 2.391047759744343...
2          187025  {'522': [2.381931136382427, 2.383939558800457,...
3          186987  {'521': [2.243089700678383, 2.1948415943304833...
4          186864  {'521': [2.2609804305624883, 2.293829992699927...
...           ...                                                ...
5709       166338  {'522': [2.431711745778313, 2.491956221424079,...
5710       166368  {'522': [2.3832986618691603, 2.418019421881964...
5711       161316  {'522': [2.388889688560504, 2.3500330274188115...
5712       166389  {'522': [2.477091493551886, 2.414741370768122,...
5713       166414  {'522': [2.249738603378021, 2.2770500845432853...

     sample_code
0      ML-SS21-1
1      ML-SS21-1
2      ML-SS21-1
3      ML-SS21-1
4      ML-SS21-1
...          ...
5709   ML-SS21-3
5710   ML-SS21-3
5711   ML-SS21-1
5712   ML-SS21-3
5713   ML-SS21-3

[5714 rows x 3 columns]

/tmp/ipykernel_5014/1108552379.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_5014/1108552379.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_5014/1108552379.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_5014/1108552379.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_5014/1108552379.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_5014/1108552379.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_5014/1108552379.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_5014/1108552379.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_5014/1108552379.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_5014/1108552379.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_5014/1108552379.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_5014/1108552379.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_5014/1108552379.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)
/tmp/ipykernel_5014/1108552379.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _ = pd.read_sql(query, con=conn)

In [19]:
spectra

,metadata_id,averaged_spectra,sample_code
0,187056,"{'522': [2.3645274701916428, 2.380267433090121...",ML-SS21-1
1,186833,"{'522': [2.324679546571156, 2.3247525703442165...",ML-SS21-1
2,186966,"{'522': [2.397271446121614, 2.4282403701836808...",ML-SS21-1
3,187043,"{'522': [2.3943149118512363, 2.391047759744343...",ML-SS21-1
4,187025,"{'522': [2.381931136382427, 2.383939558800457,...",ML-SS21-1
...,...,...,...
5709,166338,"{'522': [2.431711745778313, 2.491956221424079,...",ML-SS21-3
5710,166368,"{'522': [2.3832986618691603, 2.418019421881964...",ML-SS21-3
5711,161316,"{'522': [2.388889688560504, 2.3500330274188115...",ML-SS21-1
5712,166389,"{'522': [2.477091493551886, 2.414741370768122,...",ML-SS21-3
5713,166414,"{'522': [2.249738603378021, 2.2770500845432853...",ML-SS21-3

In [39]:
df_ = spectra.copy(deep=True)

In [40]:
df_['spectra'] = df_['averaged_spectra'] + df_['non_averaged_spectra']

In [47]:
averaged = df_.loc[df_['non_averaged_spectra'].isna()]
not_averaged = df_.loc[df_['averaged_spectra'].isna()]
averaged['spectra'] = averaged['averaged_spectra']
not_averaged['spectra'] = not_averaged['non_averaged_spectra']
df = pd.concat([averaged, not_averaged])

/tmp/ipykernel_67100/1084805249.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  averaged['spectra'] = averaged['averaged_spectra']
/tmp/ipykernel_67100/1084805249.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_averaged['spectra'] = not_averaged['non_averaged_spectra']

In [48]:
df

,metadata_id,non_averaged_spectra,averaged_spectra,sample_code,spectra
0,179670,None,"{'521': [2.2655911367057704, 2.273310992571514...",ML-SS21-1,"{'521': [2.2655911367057704, 2.273310992571514..."
5,179712,None,"{'521': [2.2946008508409697, 2.27379168724669,...",ML-SS21-1,"{'521': [2.2946008508409697, 2.27379168724669,..."
6,179754,None,"{'521': [2.235812133945057, 2.3084154307617473...",ML-SS21-1,"{'521': [2.235812133945057, 2.3084154307617473..."
7,179814,None,"{'521': [2.3830898348113863, 2.376923259819746...",ML-SS21-1,"{'521': [2.3830898348113863, 2.376923259819746..."
8,179874,None,"{'522': [2.2885870694773565, 2.306158053862360...",ML-SS21-1,"{'522': [2.2885870694773565, 2.306158053862360..."
...,...,...,...,...,...
18782,174324,"{'522': [2.0846219245290767, 2.1293823581819, ...",None,CF177SA4851,"{'522': [2.0846219245290767, 2.1293823581819, ..."
18783,174325,"{'522': [2.2313015966713303, 2.22548869635572,...",None,CF177SA4847,"{'522': [2.2313015966713303, 2.22548869635572,..."
18784,174325,"{'522': [2.314154897949655, 2.283712153409843,...",None,CF177SA4847,"{'522': [2.314154897949655, 2.283712153409843,..."
18787,174326,"{'522': [2.1735385023639964, 2.113213803092161...",None,CF177SA4752,"{'522': [2.1735385023639964, 2.113213803092161..."
18788,174326,"{'522': [2.112090183204007, 2.0970343307176664...",None,CF177SA4752,"{'522': [2.112090183204007, 2.0970343307176664..."

In [51]:
conn.close()
spectra = df[['sample_code', 'spectra']]

In [52]:
spectra = spectra.set_index('sample_code')

In [20]:
spectra = convertSpectra(spectra)


spectra.to_csv("./outputFiles/spectraldata.csv")

Converting spectra
Spectra converted

In [21]:
spectra

,522,524,526,528,530,532,534,536,538,540,...,3958,3960,3962,3964,3966,3968,3970,3972,3974,3976
0,2.364527,2.380267,2.415282,2.431268,2.441101,2.462991,2.473978,2.428879,2.422211,2.447353,...,1.170164,1.170703,1.170675,1.170313,1.170076,1.169900,1.169492,1.168838,1.168238,1.167781
1,2.324680,2.324753,2.373763,2.411027,2.402217,2.347667,2.317289,2.338107,2.375101,2.368011,...,1.149651,1.149604,1.149459,1.148917,1.148238,1.147781,1.147594,1.147623,1.147640,1.147664
2,2.397271,2.428240,2.399225,2.358932,2.332269,2.308703,2.294938,2.292284,2.298963,2.309691,...,1.160591,1.160070,1.159524,1.159550,1.159486,1.158533,1.157588,1.157537,1.157760,1.157822
3,2.394315,2.391048,2.357433,2.361828,2.380389,2.410625,2.426476,2.401460,2.370650,2.361235,...,1.152852,1.152934,1.152444,1.151799,1.151322,1.150696,1.150411,1.150530,1.150366,1.150150
4,2.381931,2.383940,2.376204,2.340311,2.348089,2.348603,2.345284,2.341323,2.328165,2.294485,...,1.159744,1.158565,1.157161,1.156499,1.156687,1.156656,1.155951,1.155213,1.154969,1.155184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5709,2.431712,2.491956,2.525230,2.497294,2.461680,2.457347,2.479673,2.508331,2.492839,2.441814,...,1.129957,1.129489,1.128628,1.128164,1.128154,1.128244,1.128160,1.127920,1.127710,1.127501
5710,2.383299,2.418019,2.405626,2.382745,2.379580,2.403409,2.391373,2.320085,2.273765,2.275257,...,1.149114,1.149265,1.149298,1.148614,1.147901,1.148023,1.148273,1.148000,1.147757,1.147768
5711,2.388890,2.350033,2.309996,2.327226,2.352492,2.330514,2.316581,2.350303,2.387681,2.412264,...,1.171154,1.170969,1.170589,1.170483,1.170664,1.170294,1.169510,1.169155,1.169263,1.169555
5712,2.477091,2.414741,2.403005,2.449703,2.481381,2.444921,2.382814,2.372414,2.406186,2.411119,...,1.161688,1.161186,1.160171,1.159406,1.159063,1.158751,1.158270,1.157872,1.157729,1.157586
5713,2.249739,2.277050,2.323580,2.344774,2.365736,2.380376,2.383867,2.385747,2.372978,2.342873,...,1.167203,1.167368,1.167123,1.166785,1.166569,1.166275,1.166020,1.165878,1.165542,1.164923

In [22]:
import pandas as pd
spectra= pd.read_csv("outputFiles/spectraldata.csv",usecols=[0])
len(spectra)

123300